<div #videocontainer id="videocontainer">
  <div class="row">
          <video #localVideo playsinline autoplay muted width="400px"></video>
          <video #remoteVideo playsinline autoplay width="400px"></video>
  </div>
  <div class="row">
      <button id="EndCall" (click)="endcall()" routerLink="/dashboard">End call</button>
      <!-- <button id="toggleAudioButton">Toggle audio</button> -->
      <button id="toggleVideoButton" (click)="toggleVideo()">Toggle video</button>
      <button id="testButtn">Initiate test</button>
      <button id="stateBtn" (click)="changeState()">Change state</button>
  </div>
      <br/>
</div>