.callcontainer {
    width: fit-content;
    /*height: 100px;*/
    border-radius: 5px;
    margin: 0 auto;
    border: 2px solid black;
}

.callbuttons {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.calldiv:hover .callbuttons {
    opacity: 0.5;
}