<ng-template #content id="incoming-call-modal" class="callcontainer">
  <div id="callContainer" #callcontainer >
    <h3>Incoming call</h3>
    <div class="row">
      <div class="calldiv col-lg-3">
        <img src="assets/images/answer.png" alt="Answer" class="callbuttons" (click)='answer()' routerLink="/call/{{roomID}}">
      </div>
      <div class="calldiv col-lg-3">
        <img src="assets/images/decline.png" alt="Decline" class="callbuttons" (click)="decline()" >
      </div>
    </div>
  </div>
</ng-template>
